* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    transition: 0.2s;
    
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "freight-sans-pro";
	font-size:16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #808080;
}
a img:hover {
    opacity: 0.6;
}
a.has-arrow {
    position: relative;
}
a.has-arrow:after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    margin-left: 0.33333em;
    background-image:url('../img/long-arrow-right.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
}

h1, h2, h3, h5 {
    font-family: "freight-text-pro";
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}

ul {
    list-style: none;
}

.strong {
    font-weight: 700;
}

.btn {
 color: #000;
 font-size: 18px;
}
.btn-xl {
    font-size: 24px;
    line-height: 32px;
}
.btn-primary {
    color: #fff;
    background: #7D1919;
    padding: 1rem 2rem;
 text-transform: uppercase;
}
.btn-primary:hover {
    color: #eee;
    background: #A14141;
}
.btn-link {
    font-style: oblique;
    font-family: "freight-text-pro";
    border-bottom: 1px solid #808080;
}
.btn-l {
    font-size: 24px;
}

.disabled {
    color: #808080;
}
.label {
    text-transform: uppercase;
    color: #9D9D9D;
    font-size: 14px;
    line-height: 20px;
    font-family: "avenir";
    font-weight: 700;
}

.logo {
    font-family: "avenir";
    font-weight: 900;
	font-size: 20px;
    line-height: 1;
}

.section {
    padding: 4rem 2rem;    
}

.text-primary {
    font-size: 28px;
    line-height: 36px;
    font-family: "freight-text-pro";
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.helper {
    margin-top: 1rem;
    font-size: 18px;
    line-height: 24px;
}

.landing {
    font-size: 19px;
    line-height: 24px;
}

.nav {
    padding: 1rem 2rem;
}
.nav .menu li {
    display: inline;
    margin-left: 2rem;
}
.nav .menu img {
    height: 2rem;
}
.hero {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: #C4C4CB;
    background: #fff;
    color: #000;
    position: relative;
}

.hero-wrapper {
    padding: 2rem 2rem;
}
.hero h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 1rem;
}
.hero img {
    max-width: 100%;
    align-self: center;
}
.hero .subhead {
    font-size: 24px;
    line-height: 32px;
}

.hero .cta {
    margin-top: 2rem;
}


.section .minihead {
    margin-bottom: 0.5rem;
}
.section .text-tertiary {
    margin-bottom: 4rem;
}

.img-wrapper-fw {
    margin-bottom: 2rem;
}
.img-wrapper-fw img {
    max-width: 100%;
    align-self: center;
}
.img-wrapper-fw .small {
    color: #808080;
    max-width: 300px;
    margin: 0.25rem 2rem;
    max-width: 200px;
    position: relative;
    
    font-size: 14px;
    line-height: 16px;
    float: right;
}

.glide:hover {
    cursor: -webkit-grab; cursor: grab;
}
.glide:active {
    cursor: -webkit-grabbing; cursor: grabbing;
}
.leader {
    margin-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 2rem;
}
.leader img {
    max-width: 100%;
}
.leader .leader-name {
    font-weight: 700;
    margin-top: 1rem;
}
/*.glide__track {
    overflow: visible;
}*/

.section ul {
    margin-bottom: 2rem;
}
.section li {
    position: relative;
    margin-top: 0.5rem;
}

.section ul.checked li:before {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    margin-right: 0.33333em;
    background-image:url('../img/check.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
}

.applied-box {
    background: #C4C4CB;
    padding: 1rem;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;   
    background: #ACC0BB;
    transition: opacity 500ms ease-out;
    opacity: 0;
    pointer-events: none;
}
.mobile-nav.show {
    opacity: 1;
    pointer-events: auto;
}

.mobile-nav .nav-wrapper {
    height: 100%;
}
.mobile-nav ul {
    margin: 2rem 0rem;
}
.mobile-nav ul > * {
    transition-delay: 0ms;
    opacity: 0;
    transform: translateY(10px);
    will-change: opacity;
    transition: opacity 100ms cubic-bezier(0.67, 0, 0.67, 1), transform 500ms cubic-bezier(0.33, 0, 0, 1);
}
.mobile-nav ul.show > :nth-child(1) {
    transition-delay: 100ms;
}
.mobile-nav ul.show > :nth-child(2) {
    transition-delay: 200ms;
}
.mobile-nav ul.show > :nth-child(3) {
    transition-delay: 300ms;
}
.mobile-nav ul.show > :nth-child(3) {
    transition-delay: 400ms;
}
.mobile-nav ul.show > :nth-child(4) {
    transition-delay: 500ms;
}
.mobile-nav ul.show > li {
    transform: translateY(0px);
    opacity: 1;
    transition-duration: 500ms;
}
.mobile-nav a.has-after:after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    margin-left: 0.33333em;
    background-image:url('../img/long-arrow-right.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
}
.mobile-nav a:hover {
    color: #333;
}
.mobile-nav ul:hover a {
    opacity: 0.3;
}
.mobile-nav ul a:hover {
    opacity: 1;
}
.mobile-nav li {
    font-family: "freight-text-pro";
    font-size: 32px;
    line-height: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}